/* ==UserStyle==
@name        Archive Of Our Own - Highlight tagset tags on hover
@description Highlights tags in tagsets when you hover over them.
==/UserStyle== */

/* Issues and updates: https://codeberg.org/locrian/ao3-tools */

@-moz-document domain("archiveofourown.org") {

.fandom.listbox.group .tags.index.group.commas li {
        padding-right: 0;
        margin-right: 0.25em;
    }

.fandom.listbox.group .tags.index.group.commas li:hover {
        background: #910000 !important;
        color: #FFFFFF !important;
    }
  
/* If you're using a custom style that changes the text and background color of the site, 
change these values to whatever values are provided by that style. 
Otherwise, just leave this alone. */
.fandom.listbox.group .tags.index.group.commas li:hover::after {
    background: #FFFFFF !important;
    color: #000000;
    }  

}
