/* ==UserStyle==
@name        Archive Of Our Own - Change separator between tags
@description Changes the separator between tags to something more noticeable.
==/UserStyle== */

/* Issues and updates: https://codeberg.org/locrian/ao3-tools */

@-moz-document domain("archiveofourown.org") {

/* This changes the tag separator from a comma to a ●. */

    .commas li::after
    {
        content: " ●";
    }

/* Ensures that the separator does not appear after the final tag in a list. */
    
    .commas li.last::after 
    {
        content: none !important;
    }    
  
}
